body {
    margin: 0;
}

#main {
    display: flex;
    height: 100vh;
    width: auto;
}

#imgpanel {
    background-image: url(/images/building.jpg);
    background-size: cover;
    background-position: 25% 75%;
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#credits {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    font-size: .7rem;
}

#credits a {
    color: white;
}

@font-face {
    font-family: "Norse";
    src: url(/fonts/Norse-Bold.otf);
}

#logobar {
    position: absolute;
    background-color: rgba(36, 36, 36, 0.5);
    height: 150px;
    width: 40%;
    top: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Norse;
    font-size: 3rem;
}

#logo {
    height: 80%;
}

#contentpanel {
    background-color: rgb(22, 22, 22);
    width: 60vw;
    height: 100vh;
}

#info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
    padding: 0;
    margin: 12vh 15vw 5vh 2.5vw;
}

#formbar {
    background-color: rgb(44, 44, 44);
    height: 300px;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.26);
    border: transparent;
    box-sizing: border-box;
    margin: 0;
    margin-top: -50px;
}

form {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 3vh 3vw;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: .7rem;
    color: white;
    padding: 2vh 3vh;
}

legend {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 20px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

form input {
    height: 20px;
    border-radius: 5px;
    padding-left: 5px;
}

.ast {
    color: red;
}

:root {
    --text-color: rgb(172, 238, 255);    
}

form button {
    height: 40px;
    border-radius: 10px;
    border: transparent;
    background-color: var(--text-color);
    font-weight: bold;
    transition: transform .2s, color .2s, background-color .2s;
}

form button:hover {
    transform: scale(1.05);
    color: white;
    background-color: rgb(109, 188, 207);
}

form #proceed {
    margin-top: 30px;
    position: aboslute;
}

#proceed a {
    color: rgb(172, 238, 255);
    text-decoration: none;
}

form input:focus:invalid {
    border: 1px solid red;
    box-shadow: 0 0 5px red;
    background-color: pink;
}

form input:focus {
    border: 1px solid var(--text-color);
    box-shadow: 0 0 5px var(--text-color);
}